body{
	background-color: black;
}

h2{
	color:white;
	text-align: center;
}

.square{
	background-color: purple;
	width:150px;
	height:150px;
	border-radius: 15px;
	margin:1.66%;
}

.row{
	justify-content: center;
}